<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="contact form example">
  <title>Contact Form Example</title>
</head>

<body>
  <h2 class="content-head is-center">Contact Us!</h2>
  <aside>
       <p>
           We would <em>love</em> to hear from you! </p>
   </aside>

<!-- START HERE -->
   <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
   <!-- Style The Contact Form How Ever You Prefer -->
   <link rel="stylesheet" href="https://cdn.rawgit.com/dwyl/html-form-send-email-via-google-script-without-server/master/style.css">

  <form id="gform" method="POST" class="pure-form pure-form-stacked"
  action="https://script.google.com/d/MR-nlvbyypVSALl4SIkbj3tMVGlnqwg-0/edit?uiv=2&mid=ACjPJvFWuvG_n0L2OiW21EFRov9cLNnj_QDPGxpw8OR9VKZUK-M8W0yUtwRoipUpBR_Xi54U-aAkS7LoE9c-hTc1Jod-dx6anjS_L7ZgtNWocB5TURw8YJAM8JDvxhp2KOJdNpN_qoKixfnQ">
    <!-- change the form action to your script url -->

      
      <ion-view title="Feedback" id="page2">
  <ion-content padding="true" class="has-header">
    <form id="feedback-form2" class="list">
      <div id="feedback-markdown1" ng-if="error" class="show-list-numbers-and-dots error-box">
        <p style="color:#000000;">{{error}}</p>
      </div>
      <ion-item class="item-divider" id="feedback-list-item-divider1"> Share Your Suggestions</ion-item>
      <label class="item item-select" id="feedback-select1">
        <span class="input-label">Type</span>
        <select ng-model="data.type">
          <option>Bug Fix</option>
          <option>Feature Suggestion</option>
          <option>Enhancement</option>
          <option>Innovation/New Product</option>
          <option>Other</option>
          <option>Competitive Intelligence</option>
        </select>
      </label>
      <label class="item item-select" id="feedback-select2">
        <span class="input-label">Product</span>
        <select ng-model="data.product">
          <option>Pro Billing</option>
          <option>Pro Budgeting</option>
          <option>Pro Connect</option>
          <option>Pro HCM Suite</option>
          <option>Pro Insight</option>
          <option>Pro Receivables Management</option>
          <option>EPOCH</option>
          <option>Curo</option>
          <option>Upfront</option>
          <option>Legal Spend Management</option>
          <option>ANDRW AI Platform</option>
        </select>
      </label>
      <label class="item item-input" id="feedback-input4">
        <span class="input-label">Title</span>
        <input type="text" placeholder="Your Issue Here" ng-model="data.title">
      </label>
      <label class="item item-input" id="feedback-textarea1">
        <span class="input-label">Description</span><textarea placeholder="Share your thoughts here!" ng-model="data.description"></textarea></label>
      <label class="item item-input" id="feedback-textarea2">
        <span class="input-label">Contact</span><textarea placeholder="If you want us to follow up, leave your name and contact" ng-model="data.contact"></textarea></label>
      <button id="feedback-button3" ng-click="submit()" ng-disable="submitting" class="button button-positive button-block">Submit</button>
    </form>
  </ion-content>
</ion-view>
      
    <fieldset class="pure-group">
      <label for="name">Name: </label>
      <input id="name" name="name" placeholder="What your Mom calls you" />
    </fieldset>
      
    <fieldset class="pure-group">
      <label for="email"><em>Your</em> Email Address:</label>
      <input id="email" name="email" type="email" value=""
      required placeholder="your.name@email.com"/>
      <span id="email-invalid" style="display:none">
        Must be a valid email address</span>
    </fieldset>

    <fieldset class="pure-group">
      <label for="message">Message: </label>
      <textarea id="message" name="message" rows="10"
      placeholder="Tell us what's on your mind..."></textarea>
    </fieldset>

  

    <fieldset class="pure-group">
      <label for="color">Favourite Color: </label>
      <input id="color" name="color" placeholder="green" />
    </fieldset>

    <button class="button-success pure-button button-xlarge">
      <i class="fa fa-paper-plane"></i>&nbsp;Send</button>

  </form>

  <!-- Customise the Thankyou Message People See when they submit the form: -->
  <div style="display:none;" id="thankyou_message">
    <h2><em>Thanks</em> for contacting us!
      We will get back to you soon!</h2>
  </div>

  <!-- Submit the Form to Google Using "AJAX" -->
  <script data-cfasync="false" type="text/javascript"
  src="https://cdn.rawgit.com/dwyl/html-form-send-email-via-google-script-without-server/master/form-submission-handler.js"></script>
  <!-- <script data-cfasync="false" type="text/javascript"
  src="/form-submission-handler.js"></script> -->
<!-- END -->

</body>
</html>
